<div class='progress-msg'>Tue, 08 Jun 2021 16:19:31 +0000</div>
<div class='progress-msg'>[16:19:31] Composing titles...</div>
<div class='progress-msg'>[16:19:31] Composing excerpts...</div>
<div class='progress-msg'>[16:19:31] Composing duplicate indicators...</div>
<div class='progress-msg'>[16:19:31] Composing authors...</div>
<div class='progress-msg'>[16:19:31] Composing slugs...</div>
<div class='progress-msg'>[16:19:31] Composing menu order...</div>
<div class='progress-msg'>[16:19:31] Composing contents...</div>
<div class='progress-msg'>[16:19:31] Composing dates...</div>
<div class='progress-msg'>[16:19:31] Composing terms for `Product categories` taxonomy...</div>
<div class='progress-msg'>[16:19:31] Composing terms for `Product tags` taxonomy...</div>
<div class='progress-msg'>[16:19:31] Composing URLs for images...</div>
<div class='progress-msg'>[16:19:31] Composing URLs for attachments files...</div>
<div class='progress-msg'>[16:19:31] Composing unique keys...</div>
<div class='progress-msg'>[16:19:31] Processing posts...</div>
<div class='progress-msg'>[16:19:31] Data parsing via add-ons...</div>
<div class='progress-msg'>[16:19:31] Composing product data...</div>
<div class='progress-msg'>[16:19:31] Composing variations attributes...</div>
<div class='progress-msg'>[16:19:31] ---</div>
<div class='progress-msg'>[16:19:31] Record #1</div>
<div class='progress-msg'>[16:19:31] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:19:31] Combine all data for post `Adidas C Tensaur EF1094 Black`...</div>
<div class='progress-msg'>[16:19:31] Find corresponding article among previously imported for post `Adidas C Tensaur EF1094 Black`...</div>
<div class='progress-msg'>[16:19:31] Duplicate post wasn't found with unique key `Adidas C Tensaur EF1094 Black - 0`...</div>
<div class='progress-msg'>[16:19:31] Applying filter `pmxi_article_data` for `Adidas C Tensaur EF1094 Black`</div>
<div class='progress-msg'>[16:19:31] <b>CREATING</b> `Adidas C Tensaur EF1094 Black` `Product`</div>
<div class='progress-msg'>[16:19:33] Associate post `Adidas C Tensaur EF1094 Black` with current import ...</div>
<div class='progress-msg'>[16:19:40] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:19:40] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:19:40] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:19:42] - Creating parent Product product_cat `AD` ...</div>
<div class='progress-msg'>[16:19:42] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:19:42] <b>CREATED</b> `Adidas C Tensaur EF1094 Black` `Product` (ID: 2308)</div>
<div class='progress-msg'>[16:19:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:19:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:19:44] ---</div>
<div class='progress-msg'>[16:19:44] Record #2</div>
<div class='progress-msg'>[16:19:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:19:44] Combine all data for post `Adidas C Grand Court EF0109 White/Black`...</div>
<div class='progress-msg'>[16:19:44] Find corresponding article among previously imported for post `Adidas C Grand Court EF0109 White/Black`...</div>
<div class='progress-msg'>[16:19:44] Duplicate post wasn't found with unique key `Adidas C Grand Court EF0109 White/Black - 0`...</div>
<div class='progress-msg'>[16:19:44] Applying filter `pmxi_article_data` for `Adidas C Grand Court EF0109 White/Black`</div>
<div class='progress-msg'>[16:19:44] <b>CREATING</b> `Adidas C Grand Court EF0109 White/Black` `Product`</div>
<div class='progress-msg'>[16:19:46] Associate post `Adidas C Grand Court EF0109 White/Black` with current import ...</div>
<div class='progress-msg'>[16:19:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:19:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:19:52] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:19:52] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:19:52] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:19:52] <b>CREATED</b> `Adidas C Grand Court EF0109 White/Black` `Product` (ID: 2309)</div>
<div class='progress-msg'>[16:19:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:19:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:19:53] ---</div>
<div class='progress-msg'>[16:19:53] Record #3</div>
<div class='progress-msg'>[16:19:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:19:53] Combine all data for post `Adidas C Advantage EF0223 White/Green`...</div>
<div class='progress-msg'>[16:19:53] Find corresponding article among previously imported for post `Adidas C Advantage EF0223 White/Green`...</div>
<div class='progress-msg'>[16:19:54] Duplicate post wasn't found with unique key `Adidas C Advantage EF0223 White/Green - 0`...</div>
<div class='progress-msg'>[16:19:54] Applying filter `pmxi_article_data` for `Adidas C Advantage EF0223 White/Green`</div>
<div class='progress-msg'>[16:19:54] <b>CREATING</b> `Adidas C Advantage EF0223 White/Green` `Product`</div>
<div class='progress-msg'>[16:19:55] Associate post `Adidas C Advantage EF0223 White/Green` with current import ...</div>
<div class='progress-msg'>[16:20:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:20:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:20:02] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:20:02] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:20:02] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:20:02] <b>CREATED</b> `Adidas C Advantage EF0223 White/Green` `Product` (ID: 2310)</div>
<div class='progress-msg'>[16:20:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:20:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:20:03] ---</div>
<div class='progress-msg'>[16:20:03] Record #4</div>
<div class='progress-msg'>[16:20:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:20:03] Combine all data for post `Adidas C Advantage EF0222 Black`...</div>
<div class='progress-msg'>[16:20:03] Find corresponding article among previously imported for post `Adidas C Advantage EF0222 Black`...</div>
<div class='progress-msg'>[16:20:03] Duplicate post wasn't found with unique key `Adidas C Advantage EF0222 Black - 0`...</div>
<div class='progress-msg'>[16:20:03] Applying filter `pmxi_article_data` for `Adidas C Advantage EF0222 Black`</div>
<div class='progress-msg'>[16:20:03] <b>CREATING</b> `Adidas C Advantage EF0222 Black` `Product`</div>
<div class='progress-msg'>[16:20:05] Associate post `Adidas C Advantage EF0222 Black` with current import ...</div>
<div class='progress-msg'>[16:20:12] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:20:12] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:20:12] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:20:12] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:20:12] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:20:12] <b>CREATED</b> `Adidas C Advantage EF0222 Black` `Product` (ID: 2311)</div>
<div class='progress-msg'>[16:20:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:20:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:20:14] ---</div>
<div class='progress-msg'>[16:20:14] Record #5</div>
<div class='progress-msg'>[16:20:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:20:14] Combine all data for post `Adidas C Tensaur EF1093 White/Black`...</div>
<div class='progress-msg'>[16:20:14] Find corresponding article among previously imported for post `Adidas C Tensaur EF1093 White/Black`...</div>
<div class='progress-msg'>[16:20:14] Duplicate post wasn't found with unique key `Adidas C Tensaur EF1093 White/Black - 0`...</div>
<div class='progress-msg'>[16:20:14] Applying filter `pmxi_article_data` for `Adidas C Tensaur EF1093 White/Black`</div>
<div class='progress-msg'>[16:20:14] <b>CREATING</b> `Adidas C Tensaur EF1093 White/Black` `Product`</div>
<div class='progress-msg'>[16:20:16] Associate post `Adidas C Tensaur EF1093 White/Black` with current import ...</div>
<div class='progress-msg'>[16:20:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:20:22] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:20:22] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:20:22] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:20:22] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:20:22] <b>CREATED</b> `Adidas C Tensaur EF1093 White/Black` `Product` (ID: 2312)</div>
<div class='progress-msg'>[16:20:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:20:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:20:23] ---</div>
<div class='progress-msg'>[16:20:23] Record #6</div>
<div class='progress-msg'>[16:20:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:20:23] Combine all data for post `Adidas C Advantage EF0221 White/Pink`...</div>
<div class='progress-msg'>[16:20:23] Find corresponding article among previously imported for post `Adidas C Advantage EF0221 White/Pink`...</div>
<div class='progress-msg'>[16:20:23] Duplicate post wasn't found with unique key `Adidas C Advantage EF0221 White/Pink - 0`...</div>
<div class='progress-msg'>[16:20:23] Applying filter `pmxi_article_data` for `Adidas C Advantage EF0221 White/Pink`</div>
<div class='progress-msg'>[16:20:23] <b>CREATING</b> `Adidas C Advantage EF0221 White/Pink` `Product`</div>
<div class='progress-msg'>[16:20:25] Associate post `Adidas C Advantage EF0221 White/Pink` with current import ...</div>
<div class='progress-msg'>[16:20:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:20:31] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:20:31] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:20:31] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:20:31] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:20:31] <b>CREATED</b> `Adidas C Advantage EF0221 White/Pink` `Product` (ID: 2313)</div>
<div class='progress-msg'>[16:20:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:20:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:20:33] ---</div>
<div class='progress-msg'>[16:20:33] Record #7</div>
<div class='progress-msg'>[16:20:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:20:33] Combine all data for post `Adidas C Tensaur Run EG4146 Black/White`...</div>
<div class='progress-msg'>[16:20:33] Find corresponding article among previously imported for post `Adidas C Tensaur Run EG4146 Black/White`...</div>
<div class='progress-msg'>[16:20:33] Duplicate post wasn't found with unique key `Adidas C Tensaur Run EG4146 Black/White - 0`...</div>
<div class='progress-msg'>[16:20:33] Applying filter `pmxi_article_data` for `Adidas C Tensaur Run EG4146 Black/White`</div>
<div class='progress-msg'>[16:20:33] <b>CREATING</b> `Adidas C Tensaur Run EG4146 Black/White` `Product`</div>
<div class='progress-msg'>[16:20:35] Associate post `Adidas C Tensaur Run EG4146 Black/White` with current import ...</div>
<div class='progress-msg'>[16:20:41] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:20:41] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:20:41] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:20:41] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:20:41] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:20:41] <b>CREATED</b> `Adidas C Tensaur Run EG4146 Black/White` `Product` (ID: 2314)</div>
<div class='progress-msg'>[16:20:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:20:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:20:43] ---</div>
<div class='progress-msg'>[16:20:43] Record #8</div>
<div class='progress-msg'>[16:20:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:20:43] Combine all data for post `Adidas C Run Falcon EG1584 Black`...</div>
<div class='progress-msg'>[16:20:43] Find corresponding article among previously imported for post `Adidas C Run Falcon EG1584 Black`...</div>
<div class='progress-msg'>[16:20:43] Duplicate post wasn't found with unique key `Adidas C Run Falcon EG1584 Black - 0`...</div>
<div class='progress-msg'>[16:20:43] Applying filter `pmxi_article_data` for `Adidas C Run Falcon EG1584 Black`</div>
<div class='progress-msg'>[16:20:43] <b>CREATING</b> `Adidas C Run Falcon EG1584 Black` `Product`</div>
<div class='progress-msg'>[16:20:46] Associate post `Adidas C Run Falcon EG1584 Black` with current import ...</div>
<div class='progress-msg'>[16:20:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:20:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:20:52] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:20:52] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:20:52] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:20:52] <b>CREATED</b> `Adidas C Run Falcon EG1584 Black` `Product` (ID: 2315)</div>
<div class='progress-msg'>[16:20:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:20:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:20:53] ---</div>
<div class='progress-msg'>[16:20:53] Record #9</div>
<div class='progress-msg'>[16:20:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:20:53] Combine all data for post `Adidas I Grand Court EF0118 White/Black`...</div>
<div class='progress-msg'>[16:20:53] Find corresponding article among previously imported for post `Adidas I Grand Court EF0118 White/Black`...</div>
<div class='progress-msg'>[16:20:53] Duplicate post wasn't found with unique key `Adidas I Grand Court EF0118 White/Black - 0`...</div>
<div class='progress-msg'>[16:20:53] Applying filter `pmxi_article_data` for `Adidas I Grand Court EF0118 White/Black`</div>
<div class='progress-msg'>[16:20:53] <b>CREATING</b> `Adidas I Grand Court EF0118 White/Black` `Product`</div>
<div class='progress-msg'>[16:20:55] Associate post `Adidas I Grand Court EF0118 White/Black` with current import ...</div>
<div class='progress-msg'>[16:21:01] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:21:01] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:21:01] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:21:02] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:21:02] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:21:02] <b>CREATED</b> `Adidas I Grand Court EF0118 White/Black` `Product` (ID: 2316)</div>
<div class='progress-msg'>[16:21:03] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:21:03] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:21:03] ---</div>
<div class='progress-msg'>[16:21:03] Record #10</div>
<div class='progress-msg'>[16:21:03] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:21:03] Combine all data for post `Adidas I Advantage EF0301 White/Green`...</div>
<div class='progress-msg'>[16:21:03] Find corresponding article among previously imported for post `Adidas I Advantage EF0301 White/Green`...</div>
<div class='progress-msg'>[16:21:03] Duplicate post wasn't found with unique key `Adidas I Advantage EF0301 White/Green - 0`...</div>
<div class='progress-msg'>[16:21:03] Applying filter `pmxi_article_data` for `Adidas I Advantage EF0301 White/Green`</div>
<div class='progress-msg'>[16:21:03] <b>CREATING</b> `Adidas I Advantage EF0301 White/Green` `Product`</div>
<div class='progress-msg'>[16:21:05] Associate post `Adidas I Advantage EF0301 White/Green` with current import ...</div>
<div class='progress-msg'>[16:21:11] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:21:11] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:21:11] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:21:11] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:21:11] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:21:11] <b>CREATED</b> `Adidas I Advantage EF0301 White/Green` `Product` (ID: 2317)</div>
<div class='progress-msg'>[16:21:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:21:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:21:13] ---</div>
<div class='progress-msg'>[16:21:13] Record #11</div>
<div class='progress-msg'>[16:21:13] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:21:13] Combine all data for post `Adidas I Tensaur EF1102 Black/White`...</div>
<div class='progress-msg'>[16:21:13] Find corresponding article among previously imported for post `Adidas I Tensaur EF1102 Black/White`...</div>
<div class='progress-msg'>[16:21:13] Duplicate post wasn't found with unique key `Adidas I Tensaur EF1102 Black/White - 0`...</div>
<div class='progress-msg'>[16:21:13] Applying filter `pmxi_article_data` for `Adidas I Tensaur EF1102 Black/White`</div>
<div class='progress-msg'>[16:21:13] <b>CREATING</b> `Adidas I Tensaur EF1102 Black/White` `Product`</div>
<div class='progress-msg'>[16:21:15] Associate post `Adidas I Tensaur EF1102 Black/White` with current import ...</div>
<div class='progress-msg'>[16:21:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:21:21] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:21:21] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:21:21] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:21:22] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:21:22] <b>CREATED</b> `Adidas I Tensaur EF1102 Black/White` `Product` (ID: 2318)</div>
<div class='progress-msg'>[16:21:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:21:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:21:23] ---</div>
<div class='progress-msg'>[16:21:23] Record #12</div>
<div class='progress-msg'>[16:21:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:21:23] Combine all data for post `Adidas I Tensaur EF1104 Navy`...</div>
<div class='progress-msg'>[16:21:23] Find corresponding article among previously imported for post `Adidas I Tensaur EF1104 Navy`...</div>
<div class='progress-msg'>[16:21:23] Duplicate post wasn't found with unique key `Adidas I Tensaur EF1104 Navy - 0`...</div>
<div class='progress-msg'>[16:21:23] Applying filter `pmxi_article_data` for `Adidas I Tensaur EF1104 Navy`</div>
<div class='progress-msg'>[16:21:23] <b>CREATING</b> `Adidas I Tensaur EF1104 Navy` `Product`</div>
<div class='progress-msg'>[16:21:25] Associate post `Adidas I Tensaur EF1104 Navy` with current import ...</div>
<div class='progress-msg'>[16:21:31] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:21:31] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:21:31] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:21:31] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:21:32] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:21:32] <b>CREATED</b> `Adidas I Tensaur EF1104 Navy` `Product` (ID: 2319)</div>
<div class='progress-msg'>[16:21:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:21:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:21:33] ---</div>
<div class='progress-msg'>[16:21:33] Record #13</div>
<div class='progress-msg'>[16:21:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:21:33] Combine all data for post `Adidas I Grand Court EG3815 White/Pink`...</div>
<div class='progress-msg'>[16:21:33] Find corresponding article among previously imported for post `Adidas I Grand Court EG3815 White/Pink`...</div>
<div class='progress-msg'>[16:21:33] Duplicate post wasn't found with unique key `Adidas I Grand Court EG3815 White/Pink - 0`...</div>
<div class='progress-msg'>[16:21:33] Applying filter `pmxi_article_data` for `Adidas I Grand Court EG3815 White/Pink`</div>
<div class='progress-msg'>[16:21:33] <b>CREATING</b> `Adidas I Grand Court EG3815 White/Pink` `Product`</div>
<div class='progress-msg'>[16:21:35] Associate post `Adidas I Grand Court EG3815 White/Pink` with current import ...</div>
<div class='progress-msg'>[16:21:42] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:21:42] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:21:42] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:21:42] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:21:42] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:21:42] <b>CREATED</b> `Adidas I Grand Court EG3815 White/Pink` `Product` (ID: 2320)</div>
<div class='progress-msg'>[16:21:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:21:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:21:43] ---</div>
<div class='progress-msg'>[16:21:43] Record #14</div>
<div class='progress-msg'>[16:21:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:21:43] Combine all data for post `Adidas I Run Falcon EG2225 Black`...</div>
<div class='progress-msg'>[16:21:43] Find corresponding article among previously imported for post `Adidas I Run Falcon EG2225 Black`...</div>
<div class='progress-msg'>[16:21:43] Duplicate post wasn't found with unique key `Adidas I Run Falcon EG2225 Black - 0`...</div>
<div class='progress-msg'>[16:21:43] Applying filter `pmxi_article_data` for `Adidas I Run Falcon EG2225 Black`</div>
<div class='progress-msg'>[16:21:43] <b>CREATING</b> `Adidas I Run Falcon EG2225 Black` `Product`</div>
<div class='progress-msg'>[16:21:45] Associate post `Adidas I Run Falcon EG2225 Black` with current import ...</div>
<div class='progress-msg'>[16:21:51] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:21:51] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:21:51] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:21:52] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:21:52] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:21:52] <b>CREATED</b> `Adidas I Run Falcon EG2225 Black` `Product` (ID: 2321)</div>
<div class='progress-msg'>[16:21:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:21:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:21:53] ---</div>
<div class='progress-msg'>[16:21:53] Record #15</div>
<div class='progress-msg'>[16:21:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:21:53] Combine all data for post `Adidas J Lite Racer BC0073 Black`...</div>
<div class='progress-msg'>[16:21:53] Find corresponding article among previously imported for post `Adidas J Lite Racer BC0073 Black`...</div>
<div class='progress-msg'>[16:21:53] Duplicate post wasn't found with unique key `Adidas J Lite Racer BC0073 Black - 0`...</div>
<div class='progress-msg'>[16:21:53] Applying filter `pmxi_article_data` for `Adidas J Lite Racer BC0073 Black`</div>
<div class='progress-msg'>[16:21:53] <b>CREATING</b> `Adidas J Lite Racer BC0073 Black` `Product`</div>
<div class='progress-msg'>[16:21:56] Associate post `Adidas J Lite Racer BC0073 Black` with current import ...</div>
<div class='progress-msg'>[16:22:02] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:22:02] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:22:02] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:22:02] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:22:02] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:22:02] <b>CREATED</b> `Adidas J Lite Racer BC0073 Black` `Product` (ID: 2322)</div>
<div class='progress-msg'>[16:22:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:22:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:22:04] ---</div>
<div class='progress-msg'>[16:22:04] Record #16</div>
<div class='progress-msg'>[16:22:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:22:04] Combine all data for post `Adidas J VL Court 2.0 DB1831 White/Blk`...</div>
<div class='progress-msg'>[16:22:04] Find corresponding article among previously imported for post `Adidas J VL Court 2.0 DB1831 White/Blk`...</div>
<div class='progress-msg'>[16:22:04] Duplicate post wasn't found with unique key `Adidas J VL Court 2.0 DB1831 White/Blk - 0`...</div>
<div class='progress-msg'>[16:22:04] Applying filter `pmxi_article_data` for `Adidas J VL Court 2.0 DB1831 White/Blk`</div>
<div class='progress-msg'>[16:22:04] <b>CREATING</b> `Adidas J VL Court 2.0 DB1831 White/Blk` `Product`</div>
<div class='progress-msg'>[16:22:06] Associate post `Adidas J VL Court 2.0 DB1831 White/Blk` with current import ...</div>
<div class='progress-msg'>[16:22:12] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:22:12] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:22:12] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:22:12] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:22:12] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:22:13] <b>CREATED</b> `Adidas J VL Court 2.0 DB1831 White/Blk` `Product` (ID: 2323)</div>
<div class='progress-msg'>[16:22:14] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:22:14] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:22:14] ---</div>
<div class='progress-msg'>[16:22:14] Record #17</div>
<div class='progress-msg'>[16:22:14] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:22:14] Combine all data for post `Adidas J Duramo 9 BB7061 Black/White`...</div>
<div class='progress-msg'>[16:22:14] Find corresponding article among previously imported for post `Adidas J Duramo 9 BB7061 Black/White`...</div>
<div class='progress-msg'>[16:22:14] Duplicate post wasn't found with unique key `Adidas J Duramo 9 BB7061 Black/White - 0`...</div>
<div class='progress-msg'>[16:22:14] Applying filter `pmxi_article_data` for `Adidas J Duramo 9 BB7061 Black/White`</div>
<div class='progress-msg'>[16:22:14] <b>CREATING</b> `Adidas J Duramo 9 BB7061 Black/White` `Product`</div>
<div class='progress-msg'>[16:22:16] Associate post `Adidas J Duramo 9 BB7061 Black/White` with current import ...</div>
<div class='progress-msg'>[16:22:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:22:22] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:22:22] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:22:22] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:22:22] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:22:23] <b>CREATED</b> `Adidas J Duramo 9 BB7061 Black/White` `Product` (ID: 2324)</div>
<div class='progress-msg'>[16:22:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:22:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:22:24] ---</div>
<div class='progress-msg'>[16:22:24] Record #18</div>
<div class='progress-msg'>[16:22:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:22:24] Combine all data for post `Adidas J Advantage EF0213 White/Green`...</div>
<div class='progress-msg'>[16:22:24] Find corresponding article among previously imported for post `Adidas J Advantage EF0213 White/Green`...</div>
<div class='progress-msg'>[16:22:24] Duplicate post wasn't found with unique key `Adidas J Advantage EF0213 White/Green - 0`...</div>
<div class='progress-msg'>[16:22:24] Applying filter `pmxi_article_data` for `Adidas J Advantage EF0213 White/Green`</div>
<div class='progress-msg'>[16:22:24] <b>CREATING</b> `Adidas J Advantage EF0213 White/Green` `Product`</div>
<div class='progress-msg'>[16:22:27] Associate post `Adidas J Advantage EF0213 White/Green` with current import ...</div>
<div class='progress-msg'>[16:22:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:22:35] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:22:35] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:22:35] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:22:36] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:22:36] <b>CREATED</b> `Adidas J Advantage EF0213 White/Green` `Product` (ID: 2325)</div>
<div class='progress-msg'>[16:22:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:22:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:22:37] ---</div>
<div class='progress-msg'>[16:22:37] Record #19</div>
<div class='progress-msg'>[16:22:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:22:37] Combine all data for post `Adidas J Advantage EF0212 Black`...</div>
<div class='progress-msg'>[16:22:37] Find corresponding article among previously imported for post `Adidas J Advantage EF0212 Black`...</div>
<div class='progress-msg'>[16:22:37] Duplicate post wasn't found with unique key `Adidas J Advantage EF0212 Black - 0`...</div>
<div class='progress-msg'>[16:22:37] Applying filter `pmxi_article_data` for `Adidas J Advantage EF0212 Black`</div>
<div class='progress-msg'>[16:22:37] <b>CREATING</b> `Adidas J Advantage EF0212 Black` `Product`</div>
<div class='progress-msg'>[16:22:40] Associate post `Adidas J Advantage EF0212 Black` with current import ...</div>
<div class='progress-msg'>[16:22:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:22:46] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:22:46] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:22:46] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:22:46] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:22:46] <b>CREATED</b> `Adidas J Advantage EF0212 Black` `Product` (ID: 2326)</div>
<div class='progress-msg'>[16:22:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:22:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:22:47] ---</div>
<div class='progress-msg'>[16:22:47] Record #20</div>
<div class='progress-msg'>[16:22:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:22:47] Combine all data for post `Adidas J Tensaur EF1085 White/Black`...</div>
<div class='progress-msg'>[16:22:47] Find corresponding article among previously imported for post `Adidas J Tensaur EF1085 White/Black`...</div>
<div class='progress-msg'>[16:22:47] Duplicate post wasn't found with unique key `Adidas J Tensaur EF1085 White/Black - 0`...</div>
<div class='progress-msg'>[16:22:47] Applying filter `pmxi_article_data` for `Adidas J Tensaur EF1085 White/Black`</div>
<div class='progress-msg'>[16:22:47] <b>CREATING</b> `Adidas J Tensaur EF1085 White/Black` `Product`</div>
<div class='progress-msg'>[16:22:49] Associate post `Adidas J Tensaur EF1085 White/Black` with current import ...</div>
<div class='progress-msg'>[16:22:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:22:56] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:22:56] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:22:56] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:22:56] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:22:57] <b>CREATED</b> `Adidas J Tensaur EF1085 White/Black` `Product` (ID: 2327)</div>
<div class='progress-msg'>[16:22:58] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:22:58] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:23:06] ---</div>
<div class='progress-msg'>[16:23:06] Record #21</div>
<div class='progress-msg'>[16:23:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:23:06] Combine all data for post `Adidas J Tensaur EF1086 Black`...</div>
<div class='progress-msg'>[16:23:06] Find corresponding article among previously imported for post `Adidas J Tensaur EF1086 Black`...</div>
<div class='progress-msg'>[16:23:06] Duplicate post wasn't found with unique key `Adidas J Tensaur EF1086 Black - 0`...</div>
<div class='progress-msg'>[16:23:06] Applying filter `pmxi_article_data` for `Adidas J Tensaur EF1086 Black`</div>
<div class='progress-msg'>[16:23:06] <b>CREATING</b> `Adidas J Tensaur EF1086 Black` `Product`</div>
<div class='progress-msg'>[16:23:08] Associate post `Adidas J Tensaur EF1086 Black` with current import ...</div>
<div class='progress-msg'>[16:23:15] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:23:15] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:23:15] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:23:15] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:23:15] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:23:15] <b>CREATED</b> `Adidas J Tensaur EF1086 Black` `Product` (ID: 2328)</div>
<div class='progress-msg'>[16:23:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:23:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:23:16] ---</div>
<div class='progress-msg'>[16:23:16] Record #22</div>
<div class='progress-msg'>[16:23:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:23:16] Combine all data for post `Adidas J Tensaur EF1084 Black/White`...</div>
<div class='progress-msg'>[16:23:16] Find corresponding article among previously imported for post `Adidas J Tensaur EF1084 Black/White`...</div>
<div class='progress-msg'>[16:23:16] Duplicate post wasn't found with unique key `Adidas J Tensaur EF1084 Black/White - 0`...</div>
<div class='progress-msg'>[16:23:16] Applying filter `pmxi_article_data` for `Adidas J Tensaur EF1084 Black/White`</div>
<div class='progress-msg'>[16:23:16] <b>CREATING</b> `Adidas J Tensaur EF1084 Black/White` `Product`</div>
<div class='progress-msg'>[16:23:18] Associate post `Adidas J Tensaur EF1084 Black/White` with current import ...</div>
<div class='progress-msg'>[16:23:25] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:23:25] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:23:25] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:23:25] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:23:25] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:23:25] <b>CREATED</b> `Adidas J Tensaur EF1084 Black/White` `Product` (ID: 2329)</div>
<div class='progress-msg'>[16:23:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:23:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:23:26] ---</div>
<div class='progress-msg'>[16:23:26] Record #23</div>
<div class='progress-msg'>[16:23:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:23:26] Combine all data for post `Adidas J Tensaur EF1087 Navy/White/Red`...</div>
<div class='progress-msg'>[16:23:26] Find corresponding article among previously imported for post `Adidas J Tensaur EF1087 Navy/White/Red`...</div>
<div class='progress-msg'>[16:23:26] Duplicate post wasn't found with unique key `Adidas J Tensaur EF1087 Navy/White/Red - 0`...</div>
<div class='progress-msg'>[16:23:26] Applying filter `pmxi_article_data` for `Adidas J Tensaur EF1087 Navy/White/Red`</div>
<div class='progress-msg'>[16:23:26] <b>CREATING</b> `Adidas J Tensaur EF1087 Navy/White/Red` `Product`</div>
<div class='progress-msg'>[16:23:29] Associate post `Adidas J Tensaur EF1087 Navy/White/Red` with current import ...</div>
<div class='progress-msg'>[16:23:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:23:35] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:23:35] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:23:35] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:23:35] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:23:35] <b>CREATED</b> `Adidas J Tensaur EF1087 Navy/White/Red` `Product` (ID: 2330)</div>
<div class='progress-msg'>[16:23:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:23:37] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:23:37] ---</div>
<div class='progress-msg'>[16:23:37] Record #24</div>
<div class='progress-msg'>[16:23:37] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:23:37] Combine all data for post `Adidas J Run Falcon F36549 Black`...</div>
<div class='progress-msg'>[16:23:37] Find corresponding article among previously imported for post `Adidas J Run Falcon F36549 Black`...</div>
<div class='progress-msg'>[16:23:37] Duplicate post wasn't found with unique key `Adidas J Run Falcon F36549 Black - 0`...</div>
<div class='progress-msg'>[16:23:37] Applying filter `pmxi_article_data` for `Adidas J Run Falcon F36549 Black`</div>
<div class='progress-msg'>[16:23:37] <b>CREATING</b> `Adidas J Run Falcon F36549 Black` `Product`</div>
<div class='progress-msg'>[16:23:39] Associate post `Adidas J Run Falcon F36549 Black` with current import ...</div>
<div class='progress-msg'>[16:23:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:23:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:23:44] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:23:45] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:23:45] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:23:45] <b>CREATED</b> `Adidas J Run Falcon F36549 Black` `Product` (ID: 2331)</div>
<div class='progress-msg'>[16:23:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:23:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:23:47] ---</div>
<div class='progress-msg'>[16:23:47] Record #25</div>
<div class='progress-msg'>[16:23:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:23:47] Combine all data for post `Adidas J Tensaur Run EG4125 Royal Blue`...</div>
<div class='progress-msg'>[16:23:47] Find corresponding article among previously imported for post `Adidas J Tensaur Run EG4125 Royal Blue`...</div>
<div class='progress-msg'>[16:23:47] Duplicate post wasn't found with unique key `Adidas J Tensaur Run EG4125 Royal Blue - 0`...</div>
<div class='progress-msg'>[16:23:47] Applying filter `pmxi_article_data` for `Adidas J Tensaur Run EG4125 Royal Blue`</div>
<div class='progress-msg'>[16:23:47] <b>CREATING</b> `Adidas J Tensaur Run EG4125 Royal Blue` `Product`</div>
<div class='progress-msg'>[16:23:49] Associate post `Adidas J Tensaur Run EG4125 Royal Blue` with current import ...</div>
<div class='progress-msg'>[16:23:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:23:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:23:55] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:23:55] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:23:55] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:23:55] <b>CREATED</b> `Adidas J Tensaur Run EG4125 Royal Blue` `Product` (ID: 2332)</div>
<div class='progress-msg'>[16:23:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:23:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:23:56] ---</div>
<div class='progress-msg'>[16:23:56] Record #26</div>
<div class='progress-msg'>[16:23:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:23:56] Combine all data for post `Adidas J Terrex BC0694 Blue/Yellow`...</div>
<div class='progress-msg'>[16:23:56] Find corresponding article among previously imported for post `Adidas J Terrex BC0694 Blue/Yellow`...</div>
<div class='progress-msg'>[16:23:56] Duplicate post wasn't found with unique key `Adidas J Terrex BC0694 Blue/Yellow - 0`...</div>
<div class='progress-msg'>[16:23:56] Applying filter `pmxi_article_data` for `Adidas J Terrex BC0694 Blue/Yellow`</div>
<div class='progress-msg'>[16:23:56] <b>CREATING</b> `Adidas J Terrex BC0694 Blue/Yellow` `Product`</div>
<div class='progress-msg'>[16:23:58] Associate post `Adidas J Terrex BC0694 Blue/Yellow` with current import ...</div>
<div class='progress-msg'>[16:24:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:24:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:24:04] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:24:04] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:24:04] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:24:04] <b>CREATED</b> `Adidas J Terrex BC0694 Blue/Yellow` `Product` (ID: 2333)</div>
<div class='progress-msg'>[16:24:05] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:24:05] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:24:05] ---</div>
<div class='progress-msg'>[16:24:05] Record #27</div>
<div class='progress-msg'>[16:24:05] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:24:05] Combine all data for post `Adidas L VS Coneo QT DB0126 Blk/White`...</div>
<div class='progress-msg'>[16:24:05] Find corresponding article among previously imported for post `Adidas L VS Coneo QT DB0126 Blk/White`...</div>
<div class='progress-msg'>[16:24:05] Duplicate post wasn't found with unique key `Adidas L VS Coneo QT DB0126 Blk/White - 0`...</div>
<div class='progress-msg'>[16:24:05] Applying filter `pmxi_article_data` for `Adidas L VS Coneo QT DB0126 Blk/White`</div>
<div class='progress-msg'>[16:24:05] <b>CREATING</b> `Adidas L VS Coneo QT DB0126 Blk/White` `Product`</div>
<div class='progress-msg'>[16:24:07] Associate post `Adidas L VS Coneo QT DB0126 Blk/White` with current import ...</div>
<div class='progress-msg'>[16:24:15] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:24:15] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:24:15] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:24:15] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:24:16] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:24:16] <b>CREATED</b> `Adidas L VS Coneo QT DB0126 Blk/White` `Product` (ID: 2334)</div>
<div class='progress-msg'>[16:24:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:24:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:24:18] ---</div>
<div class='progress-msg'>[16:24:18] Record #28</div>
<div class='progress-msg'>[16:24:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:24:18] Combine all data for post `Adidas L VS Coneo QT DB0135 White/Silver`...</div>
<div class='progress-msg'>[16:24:18] Find corresponding article among previously imported for post `Adidas L VS Coneo QT DB0135 White/Silver`...</div>
<div class='progress-msg'>[16:24:18] Duplicate post wasn't found with unique key `Adidas L VS Coneo QT DB0135 White/Silver - 0`...</div>
<div class='progress-msg'>[16:24:18] Applying filter `pmxi_article_data` for `Adidas L VS Coneo QT DB0135 White/Silver`</div>
<div class='progress-msg'>[16:24:18] <b>CREATING</b> `Adidas L VS Coneo QT DB0135 White/Silver` `Product`</div>
<div class='progress-msg'>[16:24:21] Associate post `Adidas L VS Coneo QT DB0135 White/Silver` with current import ...</div>
<div class='progress-msg'>[16:24:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:24:33] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:24:33] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:24:33] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:24:33] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:24:33] <b>CREATED</b> `Adidas L VS Coneo QT DB0135 White/Silver` `Product` (ID: 2335)</div>
<div class='progress-msg'>[16:24:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:24:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:24:35] ---</div>
<div class='progress-msg'>[16:24:35] Record #29</div>
<div class='progress-msg'>[16:24:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:24:35] Combine all data for post `Adidas L Chaos EF1062 Navy`...</div>
<div class='progress-msg'>[16:24:35] Find corresponding article among previously imported for post `Adidas L Chaos EF1062 Navy`...</div>
<div class='progress-msg'>[16:24:35] Duplicate post wasn't found with unique key `Adidas L Chaos EF1062 Navy - 0`...</div>
<div class='progress-msg'>[16:24:35] Applying filter `pmxi_article_data` for `Adidas L Chaos EF1062 Navy`</div>
<div class='progress-msg'>[16:24:35] <b>CREATING</b> `Adidas L Chaos EF1062 Navy` `Product`</div>
<div class='progress-msg'>[16:24:37] Associate post `Adidas L Chaos EF1062 Navy` with current import ...</div>
<div class='progress-msg'>[16:24:45] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:24:45] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:24:45] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:24:45] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:24:45] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:24:45] <b>CREATED</b> `Adidas L Chaos EF1062 Navy` `Product` (ID: 2336)</div>
<div class='progress-msg'>[16:24:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:24:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:24:46] ---</div>
<div class='progress-msg'>[16:24:46] Record #30</div>
<div class='progress-msg'>[16:24:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:24:46] Combine all data for post `Adidas L Retro Run EH1859 Black/White`...</div>
<div class='progress-msg'>[16:24:46] Find corresponding article among previously imported for post `Adidas L Retro Run EH1859 Black/White`...</div>
<div class='progress-msg'>[16:24:46] Duplicate post wasn't found with unique key `Adidas L Retro Run EH1859 Black/White - 0`...</div>
<div class='progress-msg'>[16:24:46] Applying filter `pmxi_article_data` for `Adidas L Retro Run EH1859 Black/White`</div>
<div class='progress-msg'>[16:24:46] <b>CREATING</b> `Adidas L Retro Run EH1859 Black/White` `Product`</div>
<div class='progress-msg'>[16:24:48] Associate post `Adidas L Retro Run EH1859 Black/White` with current import ...</div>
<div class='progress-msg'>[16:24:54] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:24:54] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:24:54] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:24:54] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:24:55] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:24:55] <b>CREATED</b> `Adidas L Retro Run EH1859 Black/White` `Product` (ID: 2337)</div>
<div class='progress-msg'>[16:24:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:24:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:24:56] ---</div>
<div class='progress-msg'>[16:24:56] Record #31</div>
<div class='progress-msg'>[16:24:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:24:56] Combine all data for post `Adidas L Roguera EG2662 White`...</div>
<div class='progress-msg'>[16:24:56] Find corresponding article among previously imported for post `Adidas L Roguera EG2662 White`...</div>
<div class='progress-msg'>[16:24:56] Duplicate post wasn't found with unique key `Adidas L Roguera EG2662 White - 0`...</div>
<div class='progress-msg'>[16:24:56] Applying filter `pmxi_article_data` for `Adidas L Roguera EG2662 White`</div>
<div class='progress-msg'>[16:24:56] <b>CREATING</b> `Adidas L Roguera EG2662 White` `Product`</div>
<div class='progress-msg'>[16:24:58] Associate post `Adidas L Roguera EG2662 White` with current import ...</div>
<div class='progress-msg'>[16:25:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:25:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:25:04] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:25:04] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:25:05] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:25:05] <b>CREATED</b> `Adidas L Roguera EG2662 White` `Product` (ID: 2338)</div>
<div class='progress-msg'>[16:25:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:25:06] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:25:06] ---</div>
<div class='progress-msg'>[16:25:06] Record #32</div>
<div class='progress-msg'>[16:25:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:25:06] Combine all data for post `Adidas L Roguera EG2920 Blue`...</div>
<div class='progress-msg'>[16:25:06] Find corresponding article among previously imported for post `Adidas L Roguera EG2920 Blue`...</div>
<div class='progress-msg'>[16:25:06] Duplicate post wasn't found with unique key `Adidas L Roguera EG2920 Blue - 0`...</div>
<div class='progress-msg'>[16:25:06] Applying filter `pmxi_article_data` for `Adidas L Roguera EG2920 Blue`</div>
<div class='progress-msg'>[16:25:06] <b>CREATING</b> `Adidas L Roguera EG2920 Blue` `Product`</div>
<div class='progress-msg'>[16:25:08] Associate post `Adidas L Roguera EG2920 Blue` with current import ...</div>
<div class='progress-msg'>[16:25:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:25:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:25:16] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:25:16] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:25:16] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:25:16] <b>CREATED</b> `Adidas L Roguera EG2920 Blue` `Product` (ID: 2339)</div>
<div class='progress-msg'>[16:25:17] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:25:17] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:25:17] ---</div>
<div class='progress-msg'>[16:25:17] Record #33</div>
<div class='progress-msg'>[16:25:17] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:25:17] Combine all data for post `Adidas L Quesa Trail EG4209 Black/Purple`...</div>
<div class='progress-msg'>[16:25:17] Find corresponding article among previously imported for post `Adidas L Quesa Trail EG4209 Black/Purple`...</div>
<div class='progress-msg'>[16:25:17] Duplicate post wasn't found with unique key `Adidas L Quesa Trail EG4209 Black/Purple - 0`...</div>
<div class='progress-msg'>[16:25:17] Applying filter `pmxi_article_data` for `Adidas L Quesa Trail EG4209 Black/Purple`</div>
<div class='progress-msg'>[16:25:17] <b>CREATING</b> `Adidas L Quesa Trail EG4209 Black/Purple` `Product`</div>
<div class='progress-msg'>[16:25:19] Associate post `Adidas L Quesa Trail EG4209 Black/Purple` with current import ...</div>
<div class='progress-msg'>[16:25:25] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:25:25] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:25:25] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:25:25] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:25:26] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:25:26] <b>CREATED</b> `Adidas L Quesa Trail EG4209 Black/Purple` `Product` (ID: 2340)</div>
<div class='progress-msg'>[16:25:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:25:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:25:27] ---</div>
<div class='progress-msg'>[16:25:27] Record #34</div>
<div class='progress-msg'>[16:25:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:25:27] Combine all data for post `Adidas M VS Pace B74494 Blk/Wht`...</div>
<div class='progress-msg'>[16:25:27] Find corresponding article among previously imported for post `Adidas M VS Pace B74494 Blk/Wht`...</div>
<div class='progress-msg'>[16:25:27] Duplicate post wasn't found with unique key `Adidas M VS Pace B74494 Blk/Wht - 0`...</div>
<div class='progress-msg'>[16:25:27] Applying filter `pmxi_article_data` for `Adidas M VS Pace B74494 Blk/Wht`</div>
<div class='progress-msg'>[16:25:27] <b>CREATING</b> `Adidas M VS Pace B74494 Blk/Wht` `Product`</div>
<div class='progress-msg'>[16:25:29] Associate post `Adidas M VS Pace B74494 Blk/Wht` with current import ...</div>
<div class='progress-msg'>[16:25:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:25:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:25:36] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:25:36] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:25:36] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:25:36] <b>CREATED</b> `Adidas M VS Pace B74494 Blk/Wht` `Product` (ID: 2341)</div>
<div class='progress-msg'>[16:25:38] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:25:38] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:25:38] ---</div>
<div class='progress-msg'>[16:25:38] Record #35</div>
<div class='progress-msg'>[16:25:38] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:25:38] Combine all data for post `Adidas M Vs Pace AW4594 White/Blk`...</div>
<div class='progress-msg'>[16:25:38] Find corresponding article among previously imported for post `Adidas M Vs Pace AW4594 White/Blk`...</div>
<div class='progress-msg'>[16:25:38] Duplicate post wasn't found with unique key `Adidas M Vs Pace AW4594 White/Blk - 0`...</div>
<div class='progress-msg'>[16:25:38] Applying filter `pmxi_article_data` for `Adidas M Vs Pace AW4594 White/Blk`</div>
<div class='progress-msg'>[16:25:38] <b>CREATING</b> `Adidas M Vs Pace AW4594 White/Blk` `Product`</div>
<div class='progress-msg'>[16:25:40] Associate post `Adidas M Vs Pace AW4594 White/Blk` with current import ...</div>
<div class='progress-msg'>[16:25:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:25:46] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:25:46] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:25:46] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:25:46] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:25:46] <b>CREATED</b> `Adidas M Vs Pace AW4594 White/Blk` `Product` (ID: 2342)</div>
<div class='progress-msg'>[16:25:47] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:25:47] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:25:47] ---</div>
<div class='progress-msg'>[16:25:47] Record #36</div>
<div class='progress-msg'>[16:25:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:25:47] Combine all data for post `Adidas M VS Pace B44869 Black`...</div>
<div class='progress-msg'>[16:25:47] Find corresponding article among previously imported for post `Adidas M VS Pace B44869 Black`...</div>
<div class='progress-msg'>[16:25:48] Duplicate post wasn't found with unique key `Adidas M VS Pace B44869 Black - 0`...</div>
<div class='progress-msg'>[16:25:48] Applying filter `pmxi_article_data` for `Adidas M VS Pace B44869 Black`</div>
<div class='progress-msg'>[16:25:48] <b>CREATING</b> `Adidas M VS Pace B44869 Black` `Product`</div>
<div class='progress-msg'>[16:25:50] Associate post `Adidas M VS Pace B44869 Black` with current import ...</div>
<div class='progress-msg'>[16:25:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:25:57] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:25:57] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:25:57] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:25:57] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:25:57] <b>CREATED</b> `Adidas M VS Pace B44869 Black` `Product` (ID: 2343)</div>
<div class='progress-msg'>[16:25:58] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:25:58] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:25:58] ---</div>
<div class='progress-msg'>[16:25:58] Record #37</div>
<div class='progress-msg'>[16:25:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:25:58] Combine all data for post `Adidas M Court80S EE9663 White/Black`...</div>
<div class='progress-msg'>[16:25:58] Find corresponding article among previously imported for post `Adidas M Court80S EE9663 White/Black`...</div>
<div class='progress-msg'>[16:25:58] Duplicate post wasn't found with unique key `Adidas M Court80S EE9663 White/Black - 0`...</div>
<div class='progress-msg'>[16:25:58] Applying filter `pmxi_article_data` for `Adidas M Court80S EE9663 White/Black`</div>
<div class='progress-msg'>[16:25:58] <b>CREATING</b> `Adidas M Court80S EE9663 White/Black` `Product`</div>
<div class='progress-msg'>[16:26:01] Associate post `Adidas M Court80S EE9663 White/Black` with current import ...</div>
<div class='progress-msg'>[16:26:06] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:26:06] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:26:06] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:26:06] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:26:06] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:26:07] <b>CREATED</b> `Adidas M Court80S EE9663 White/Black` `Product` (ID: 2344)</div>
<div class='progress-msg'>[16:26:08] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:26:08] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:26:08] ---</div>
<div class='progress-msg'>[16:26:08] Record #38</div>
<div class='progress-msg'>[16:26:08] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:26:08] Combine all data for post `Adidas M VS Set AW3890 Black/White`...</div>
<div class='progress-msg'>[16:26:08] Find corresponding article among previously imported for post `Adidas M VS Set AW3890 Black/White`...</div>
<div class='progress-msg'>[16:26:08] Duplicate post wasn't found with unique key `Adidas M VS Set AW3890 Black/White - 0`...</div>
<div class='progress-msg'>[16:26:08] Applying filter `pmxi_article_data` for `Adidas M VS Set AW3890 Black/White`</div>
<div class='progress-msg'>[16:26:08] <b>CREATING</b> `Adidas M VS Set AW3890 Black/White` `Product`</div>
<div class='progress-msg'>[16:26:10] Associate post `Adidas M VS Set AW3890 Black/White` with current import ...</div>
<div class='progress-msg'>[16:26:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:26:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:26:16] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:26:16] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:26:16] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:26:17] <b>CREATED</b> `Adidas M VS Set AW3890 Black/White` `Product` (ID: 2345)</div>
<div class='progress-msg'>[16:26:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:26:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:26:18] ---</div>
<div class='progress-msg'>[16:26:18] Record #39</div>
<div class='progress-msg'>[16:26:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:26:18] Combine all data for post `Adidas M Grand Court`...</div>
<div class='progress-msg'>[16:26:18] Find corresponding article among previously imported for post `Adidas M Grand Court`...</div>
<div class='progress-msg'>[16:26:18] Duplicate post wasn't found with unique key `Adidas M Grand Court - 0`...</div>
<div class='progress-msg'>[16:26:18] Applying filter `pmxi_article_data` for `Adidas M Grand Court`</div>
<div class='progress-msg'>[16:26:18] <b>CREATING</b> `Adidas M Grand Court` `Product`</div>
<div class='progress-msg'>[16:26:20] Associate post `Adidas M Grand Court` with current import ...</div>
<div class='progress-msg'>[16:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:26:27] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:26:27] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:26:27] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:26:27] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:26:27] <b>CREATED</b> `Adidas M Grand Court` `Product` (ID: 2346)</div>
<div class='progress-msg'>[16:26:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:26:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[16:26:28] ---</div>
<div class='progress-msg'>[16:26:28] Record #40</div>
<div class='progress-msg'>[16:26:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[16:26:28] Combine all data for post `Adidas M Grand Court EE7888 White/Blue/Red`...</div>
<div class='progress-msg'>[16:26:28] Find corresponding article among previously imported for post `Adidas M Grand Court EE7888 White/Blue/Red`...</div>
<div class='progress-msg'>[16:26:28] Duplicate post wasn't found with unique key `Adidas M Grand Court EE7888 White/Blue/Red - 0`...</div>
<div class='progress-msg'>[16:26:28] Applying filter `pmxi_article_data` for `Adidas M Grand Court EE7888 White/Blue/Red`</div>
<div class='progress-msg'>[16:26:28] <b>CREATING</b> `Adidas M Grand Court EE7888 White/Blue/Red` `Product`</div>
<div class='progress-msg'>[16:26:30] Associate post `Adidas M Grand Court EE7888 White/Blue/Red` with current import ...</div>
<div class='progress-msg'>[16:26:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[16:26:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[16:26:36] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[16:26:36] - Attempted to create parent Product product_cat `AD`, duplicate detected. Importing Product to existing `AD` product_cat, ID 210, slug `ad` ...</div>
<div class='progress-msg'>[16:26:36] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[16:26:36] <b>CREATED</b> `Adidas M Grand Court EE7888 White/Blue/Red` `Product` (ID: 2347)</div>
<div class='progress-msg'>[16:26:37] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[16:26:37] <b>ACTION</b>: pmxi_after_post_import</div>
