/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

/*Testing Repo - 20211128*/

.uael-mc-modal {overflow-y: scroll !important;}

/*
.uael-mc-modal::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.uael-mc-modal::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/

/*
.uael-mc-modal::-webkit-scrollbar {
	display: inherit;
	width: 10px;
}

.uael-mc-modal::-webkit-scrollbar-thumb {
	background-color: #efefef;
	border-radius: 10px;
}
*/

.single-wpsl_stores .comments-area {
	display:none !important;
}

.single-wpsl_stores .wpsl-locations-details {
	max-width:1240px;
	margin-right:auto;
	margin-left:auto;
	padding:0 20px;
}

.save-box-wrapper {
	width: calc(100% + 20px);
    right: 1.25rem;
    position: relative;
    min-height: 2.75rem;
    margin-top: 0.125rem;
    z-index: 1; 
}

.save-box-wrapper .arrow-up {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.5rem;
    content: '';
    border-top-width: 0;
    border-bottom-style: solid;
    border-color: transparent transparent #FAA61A;
    position: relative;
    left: 10%;
    z-index: 1;
}

.save-box-wrapper .save-box {
    background-color: #FAA61A;
    color: #fff;
    border: solid 0.0625rem #fff;
    border-radius: 0.125rem;
    position: relative;
    bottom: 0.0625rem;
}

.save-box-wrapper .save-box .discount-description {
    padding: 0.5rem;
    text-align: center;
	color:#fff;
}

.save-box-wrapper .save-box .discount-description .free-shipping {
	font-family: Roboto,Arial,sans-serif;
	text-transform:uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    line-height: 1.85;
}

#input_1_1{padding:11px !important;}

.elementor-button-text {padding: 0 20px !important; line-height:2em !important;}

.uael-mc ul.cart_list li a {margin-top: 10px;}

.uael-mc ul.cart_list li {
    text-align: left;
    float: left;
    width: 100%;
    display: inline-block;
}

.wishlist_table.images_grid li .item-details h3, .uael-mc-modal__title p {
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:20px !important;
	text-transform:uppercase !important;
}

#pum_popup_title_1226 {
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:50px !important;
	margin-bottom:10px;
}

#fg-cart-account .elementor-button-text {
    padding: 0 !important;
    line-height: normal !important;
    text-transform: capitalize !important;
    background: transparent !important;
    font-size: 12px !important;
    color: #000 !important;
}

.elementor-button, #fg-cart-checkout, .wc-forward, #commentform #submit {
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:20px !important;
	background-color:#000 !important;
	color:#fff !important;
	padding:0 20px !important;
	line-height:2em !important;
	text-transform:uppercase !important;
}

#gform_wrapper_3 {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}


#field_3_4, #field_3_3 a{
    color: #fff;
}

.elementor-button:hover, #fg-cart-checkout:hover, .wc-forward:hover, #commentform #submit:hover{
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:20px !important;
	background-color:#EBEBEB !important;
	color:#ffb100 !important;
	padding:0 20px !important;
	line-height:2em !important;
}

#fg-cart-account .elementor-button-text:hover {
    color: #ffb100 !important;
}

.woocommerce a.button, .woocommerce button.button.alt, .woocommerce-page table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce a.button.alt, .woocommerce .woocommerce-message a.button, .ast-site-header-cart .widget_shopping_cart .buttons .button.checkout, .woocommerce button.button.alt.disabled, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link, button[name="save_address"], button[name="save_account_details"], .woocommerce-form-register__submit, .woocommerce-form-login__submit, .astra-shop-filter-button, button[name="calc_shipping"], .remove_from_wishlist, .add_to_cart_button, .woocommerce-Button{
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:20px !important;
	background-color:#000 !important;
	color:#fff !important;
	padding:0 20px !important;
	line-height:2em !important;
	text-transform:uppercase !important;
}

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce .woocommerce-message a.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce input.button:hover, .woocommerce button.button.alt.disabled:hover, .wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover, button[name="save_address"]:hover, button[name="save_account_details"]:hover, .woocommerce-form-register__submit:hover, .woocommerce-form-login__submit:hover, .astra-shop-filter-button:hover, .remove_from_wishlist:hover, .add_to_cart_button:hover, .woocommerce-Button:hover {
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:20px !important;
	background-color:#EBEBEB !important;
	color:#ffb100 !important;
	padding:0 20px !important;
	line-height:2em !important;
}

#fg-cart-account {
	font-family:Helvetica,sans-serif !important;
	line-height: normal !important;
	background: transparent !important;
}

.fg-main-head {
    width: 100%;
}

.login-menuitem {
    display: list-item;
}

.logged-in .login-menuitem {
    display: none;
}

.account-menuitem {
    display: none;
}

.logged-in .account-menuitem {
    display: list-item;
}

.uael-mc-dropdown {
    right: 0;
}

.pay-methaods img {
    padding-left: 10px;
}

#menu-footer-social li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 1.5em;
}

#menu-footer-social li:last-child {
    margin-right: 0;
}

#popmake-1226 {
    background-image: url('./images/pop-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#popmake-1226 .popmake-close {
    display: none;
	background: transparent;
    padding: 0;
    text-transform: capitalize;
    font-family: "Astra Helvetica Light", sans-serif;;
    font-weight: 100;
    margin-bottom: 20px;
}

.fg-pop-btn {
    display: block !important;
    margin: 0 auto;
    border: none;
    border-radius: unset;
    background: none;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.fg-pop-btn:hover {
    background: none;
    opacity: 0.5;
}

#pum_popup_title_1226 {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 10px;
}

#gform_wrapper_1 .gform_footer, #gform_wrapper_3 .gform_footer {
    visibility: hidden;
    position: absolute;
    left: -100vw;
}

#popmake-1226 .pum-content h4 {
    color: rgb(255,255,255,0.7);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 0;
}

#gform_wrapper_1, #gform_wrapper_3 {
    margin-bottom: 0 !important;
}

#gform_1 .gfield, #gform_1 .ginput_container, #gform_1 input, #gform_3 .gfield, #gform_3 .ginput_container, #gform_3 input {
    margin-top: 0 !important;
}

#gform_1 .gfield_label, #gform_3 .gfield_label {
    display: none !important;
}

#gform_1 .gform_fields li:nth-child(4), #gform_1 .gform_fields li:nth-child(2), #gform_3 .gform_fields li:nth-child(4), #gform_3 .gform_fields li:nth-child(2) {
    width: 70%;
    padding-right: 5px;
	color:#fff;
		margin-bottom:10px;
}

#gform_1 .gform_fields li:nth-child(5), #gform_1 .gform_fields li:nth-child(3), #gform_3 .gform_fields li:nth-child(5), #gform_3 .gform_fields li:nth-child(3) {
    width: 30%;
    padding: 0 !important;
}

#gform_wrapper_1, #gform_wrapper_3 {margin-bottom:0 !important;}
#gform_1 .gfield, #gform_1 .ginput_container, #gform_1 input, #gform_3 .gfield, #gform_3 .ginput_container, #gform_3 input {margin-top:0 !important;}
#gform_1 .gfield_label, #gform_3 .gfield_label {display:none !important;}
#gform_1 .gform_fields li:nth-child(4), #gform_1 .gform_fields li:nth-child(2), #gform_3 .gform_fields li:nth-child(4), #gform_3 .gform_fields li:nth-child(2) {width:70%; max-width:70% !important; padding-right: 5px;  margin-right:0 !important;}
#gform_1 .gform_fields li:nth-child(5), #gform_1 .gform_fields li:nth-child(3), #gform_3 .gform_fields li:nth-child(5), #gform_3 .gform_fields li:nth-child(3) {width:30%; max-width:30% !important; padding:0 !important;}
#gform_1 .gform_fields li:nth-child(2), #gform_1 .gform_fields li:nth-child(3), #gform_3 .gform_fields li:nth-child(2), #gform_3 .gform_fields li:nth-child(3) {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px !important;
    padding-bottom: 5px !important;
}

#gform_1 .gform_fields li:nth-child(3) a, #gform_3 .gform_fields li:nth-child(3) a {
    color: #fff;
}

#gform_1 .gform_fields li:nth-child(4) input, #gform_3 .gform_fields li:nth-child(4) input {
    border-radius: 0;
    width: 100%;
    padding: 0 10px !important;
    line-height: 37px;
}

#gform_1 .gform_fields li:nth-child(5) button, #gform_3 .gform_fields li:nth-child(5) button {
    border-radius: 0;
    width: 100%;
}
div#ast-quick-view-modal h1.product_title.entry-title {
    margin: 0px !important;
    font-size: 24px !important;
}

div#ast-quick-view-modal p.price {
    font-size: 17px !important;
}

div#ast-quick-view-modal form.variations_form.cart.stick {
    padding: 0px !important;
}
.rexvs-variations .rexvs-swatches .swatch {
    border: none !important;
    border-radius: unset;
    width: 73px !important;
    height: 60px !important;
}

.rexvs-variations .rexvs-swatches .swatch.selected {
    border-width: 1px;
    border-radius: 5%;
    border: 1px solid black !important;
    background-color: transparent !important;
    padding: 10px;
}

.rexvs-variations .rexvs-swatches .swatch.selected:before, .rexvs-variations .rexvs-swatches .swatch.selected:after {
    opacity: 0 !important;
}

.menu-list-cont {
    display: block;
    max-width: 80%;
}

.menu-list-cont.fullwidth {
    max-width: 100%;
}

.menu-list-head {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
	font-family:Astra Mont Heavy,sans-serif;
	font-size:16px;
}

.menu-list-head span, .menu-list-head span a {
    float: right;
	font-family:Astra Helvetica Light,sans-serif;
	font-size:14px;
	text-transform:capitalize;
}

.menu-list-head span a:hover {
    font-size:14px;
}

.menu-list-head span a {
    font-weight: normal;
    text-transform: none;
}

.menu-list-cont ul {
    margin: 0;
}

.menu-list-cont.fullwidth ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-list-cont ul li, .menu-list-cont ul li a {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 20px;
	font-size:16px;
	font-family:Astra Mont Light,sans-serif;
}

.ubermenu .ubermenu-item {font-size:18px;}

.shipping-calculator-button {text-decoration:underline;}

.yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > a, .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > label > a {
    font-size: 12px;
}

.yith-wcan-filters .yith-wcan-filter .filter-items .filter-item {
    line-height: 20px;
}

.menu-list-cont ul li a:hover {
    font-size: 16px;
}

.menu-list-cont.fullwidth ul li {
    flex: 0 0 14%;
    text-align: center;
}

.menu-list-cont.fullwidth ul li img {
    /* -webkit-filter: brightness(0) invert(1); */
    /* filter: brightness(0) invert(1); */
}

.brands-menu-item {
    background-color: #252525;
}

.ubermenu-submenu.ubermenu-submenu-drop {
    border: none !important;
}

.ubermenu .ubermenu-row {
    margin-bottom: 0px !important;
}

/*
.ubermenu-active .ubermenu-submenu-align-full_width {    
	width: 100vw !important;
	position: absolute !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}
*/
#wpsl-result-list {
    display: none !important;
}

#wpsl-gmap {
    width: 100% !important;
    margin: 0px;
}

/*WPSL Cat Accordian*/
.accordion {
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background: transparent;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 0;
    color: #f99900;
    text-decoration: underline;
    text-transform: unset;
}

.active, .accordion:hover {
}

.accordion:after {
    /* content: '\002B'; */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    /* content: "\2212"; */
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	padding: 10px 20px 0 20px !important;
}

.wc-tabs-wrapper {margin-bottom:60px !important;}

.woocommerce-tabs .panel{
	max-height:inherit;
	overflow:auto;
}

.panel .inner-panel {
    /* overflow-x:scroll; */
    /* max-height:200px; */
}

.panel p {
    margin: 0;
    line-height: unset;
}

.fg-Store-cats {
    z-index: 9;
}

.fg-Store-cats .accordion_container {
    width: 100%;
}

.fg-Store-cats .accordion_head {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    margin: 0 0 1px 0;
    padding: 0px;
    font-weight: bold;
}

.fg-Store-cats .accordion_body {
    background: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-height: 320px;
    overflow: scroll;
}

.fg-Store-cats .accordion_body * {
    font-size: 13px;
}

.fg-Store-cats .accordion_body p.storetitle a {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

button.accordion {
    padding: 10px 0px 0px 0px;
}

.storelocator p {
    margin: 0px;
}

.storemap p {
    margin: 0px;
}


.wpsl-search.wpsl-clearfix.wpsl-filter {
    margin: 0px;
}

div#wpsl-wrap {
    margin-bottom: 0px;
}

.arch-menu-cont {text-align:center; margin:0 auto;}
.arch-menu {margin:0;}
.arch-menu li {list-style:none; display:inline-block; margin:0 16px;}
.arch-menu li:first-child {margin-left:0x;}
.arch-menu li:last-child {margin-right:0x;}
.arch-menu li a{
	padding: 4px 0;
    transition: color .2s ease-in-out;
	font-size:16px;
	color: #111;
	cursor:pointer;
}
.arch-menu li a:hover{
	color: #757575;
}

.shop-sub-head h2{
	font-size:50px;
	line-height: .833333;
	font-weight:900;
	margin-bottom:0;
}
.shop-sub-head p{
	margin-bottom:0;
}

#cat-explore{display:block; height:200px; overflow:hidden;}

.daily-deals-item {
	display: block;
    width: 100%;
	height:auto;
	position:relative;
	margin-bottom:30px;
	background-color:#111;
	min-height:200px;
}

.deals-badges {
    position: absolute;
    top: 20px;
    right: 20px;
}

.deals-badges .badge{
	background-color:#F9A419;
	color:#fff;
	text-transform:uppercase;
	padding:5px 15px;
	border-radius: 5px;
	display: inline-block;
    margin-left: 15px;
}

.deals-badges .badge:hover{
	opacity:0.85;
}

.deals-img.tablet {display:none;}
.deals-img.desktop {display:block;}
.deals-img.mobile {display:none;}

.ast-container {max-width:100% !important;}
.fg-prod-col.shrink {
	max-width: calc(100% - 350px) !important;
    /* margin-right: -20px; */
    float: right;
}
.woocommerce-shop .ast-woocommerce-container {padding:0 !important;}

.fg-prod-col.shrink .woocommerce {padding:30px !important; margin-top: -30px; z-index:999; position:relative;}

.shop_side_button {z-index: 19;}

.menu-spacer {margin-top:20px;}

#brands-cont {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.single-prod-badges {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}



.yith-wcbm-badge-text {text-transform:uppercase !important; line-height:19px !important;}

.yith-wcbm-css-text {width:145px !important; padding:0px !important;}

.yith-wcbm-badge {font-size:13px !important;}

.yith-wcbm-badge:nth-of-type(1) {
    top: 10px !important;
	right: inherit;
    bottom: auto;
}
.yith-wcbm-badge:nth-of-type(2) {
    top: 47px !important;
	right: inherit;
    bottom: auto;
}
.yith-wcbm-badge:nth-of-type(3) {
    top: 84px !important;
	right: inherit;
    bottom: auto;
}
.yith-wcbm-badge:nth-of-type(4) {
    top: 121px !important;
	right: inherit;
    bottom: auto;
}
.yith-wcbm-badge:nth-of-type(5) {
    top: 158px !important;
	right: inherit;
    bottom: auto;
}
.yith-wcbm-badge:nth-of-type(6) {
    top: 195px !important;
	right: inherit;
    bottom: auto;
}
.yith-wcbm-badge:nth-of-type(7) {
    top: 232px !important;
	right: inherit;
    bottom: auto;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(1){
	top: 10px !important;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(2){
	top: 50px !important;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(3){
	top: 90px !important;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(4){
	top: 130px !important;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(5){
	top: 170px !important;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(6){
	top: 210px !important;
}

.fg-quick-cont .yith-wcbm-badge:nth-of-type(7){
	top: 250px !important;
}

.yith-wcbm-badge.yith-wcbm-badge-1201 {
	top: 0px !important;
	height:140px !important;
}

.single-product .yith-wcbm-badge.yith-wcbm-badge-1201{
	right:38% !important;
}

.fg-quick-cont .yith-wcbm-badge.yith-wcbm-badge-1201{
	right:53% !important;
}

.fg-quick-cont .ast-breadcrumbs-wrapper, .fg-quick-cont .reviews-toggle{
	display:none;
}

.fg-quick-cont .summary {margin-bottom:0px !important;}

.fg-quick-cont .fg-custom-gal .img {margin-bottom:0px; margin-right:0px;}

/*.fg-custom-gal.slick-slider {max-height:575px;}*/
.fg-custom-gal .slick-track {
  display: flex !important;
}

.fg-custom-gal .slick-slide {
  height: inherit !important;
}

.flex-brand-item {
  background-color: #e8eaea;
  padding: 10px;
  flex: calc(25% - 20px);
  margin-right:20px;
  margin-bottom:20px;
}

.flex-brand-item:nth-child(4n) {
  margin-right:0px;
}

.flex-brand-item:last-child {
  margin-right:0px;
}

.fg-quick-icon {
    float: right;
    padding-right: 20px;
    margin-top: -70px;
    position: relative;
}

.fg-quick-icon i{
	font-size: 0 !important;
	font-family:'Astra Mont Heavy' !important;
	text-transform:uppercase;
}

.fg-quick-icon i.fa-eye:before{
	font-size: 22px !important;
	font-family:'Font Awesome 5 Free' !important;
}

.fg-quick-icon .fg-pop-trig:hover i{
	font-size: 16px !important;
}

.fg-quick-icon .fg-pop-trig:hover i.fa-eye:before{
	font-size: 0 !important;
}  

.fg-ribbon .fg-next {z-index:9 !important;}

.fg-whishlist {
    width: 100%;
    display: inline-block;
}

#home-subscribe .gfield_html:nth-of-type(1), #home-subscribe .gfield_html:nth-of-type(2), #home-subscribe .gfield_html:nth-of-type(3) {display:none;}

#home-subscribe .gform_legacy_markup_wrapper .gform_body {
    margin-top: 0px;
}

#home-hero .elementor-bg {background-position:top;}

.fg-filter-btn {margin:0 !important; display:block !important;}

.ast-page-builder-template .site-content > .ast-container {
    /*padding: 60px 20px;*/
}

.ast-page-builder-template .entry-header {
    margin-top: 0;
}

.single-product .ast-product-navigation-wrapper{
	display:none !important;
}

.single-product .slick-prev {
    left: 10px !important;
    z-index: 9 !important;
}

.single-product .slick-next {
    right: 10px !important;
    z-index: 9 !important;
}

.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
    width: 68%;
}

.woocommerce .cart-collaterals .cross-sells ul.products li.last, .woocommerce-page .cart-collaterals .cross-sells ul.products li.last {
    margin-right: 20px;
}

.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 30%;
	margin-bottom:20px;
}

.woocommerce-checkout form.checkout {
    max-width: 100%;
    margin: 0 auto;
	padding:0 20px;
}

#fg-faq .elementor-accordion-item {margin-bottom:20px;}

#fg-static-nav ul {margin:0; padding:0;}
#fg-static-nav ul li{margin:0; padding:0; list-style:none;}
#fg-static-nav h5{
	text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    line-height: 30px;
    display: block;
    color: #212d36;
    margin-bottom: 20px;
}
#fg-static-nav ul li a {
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    padding: 1.25rem 0;
    color: #9b9b9b;
    width: 75%;
    border-top: 1px solid #e4e3e3;
}
#fg-static-nav ul li.current-menu-item a, #fg-static-nav ul li a:hover {
    color: #f99900;
}

.fg-contact-form input {padding:20px !important;}

.woocommerce .astra-shop-filter-button, .woocommerce button.astra-shop-filter-button, .woocommerce-page .astra-shop-filter-button, .woocommerce-page button.astra-shop-filter-button {
    float: right;
    margin: 0 0 2.5em 30px;
}

.filters-container {text-align:center;}
.filters-container div{text-align:left;}
#yith-ajaxsearchform {
    background: #fff;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #ddd;
	padding:5px 5px 5px 0;
}
#menu-footer-social i{font-size:25px;}
#yith-ajaxsearchform input{
	border-color: transparent;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
#yith-ajaxsearchform input[type=search]:focus {
    outline: none !important;
}
.link-result {text-align:center;}
#yith-searchsubmit {display:none;}
#yith-ajaxsearchform .yith-ajaxsearch-filters:after{
    content: "\f002";
    /* font-style: normal; */
    /* font-variant: normal; */
    /* font-weight: normal; */
    font-family: 'FontAwesome';
    color: #c1c1c1;
    font-size: 16px;
    width: 20px;
    height: 20px;
	display:table-cell;
	vertical-align:middle;
}

.ast-woo-shop-product-description {
    padding: 15px 10px 20px 10px;
}

.fg-swatch {margin-bottom:20px;}

.fg-swatch input[type=radio], .size-cont input[type=radio]{display:none;}

.fg-swatch label, .size-cont label {cursor:pointer;}

.size-cont label {
	font-size: 12px;
    width: 79px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 30px;
}

.size-cont label.disabled {
	opacity:0.4;
	text-decoration: line-through;
}

.fg-swatch label {
	font-size: 12px;
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
}

.fg-swatch img {width:100%;}

.size-cont label:hover, .fg-swatch label:hover {
	border:1px solid #000 !important;
}

.size-cont label.disabled:hover {
	border:1px solid #ccc !important;
	opacity: 0.7;
}

.fg-swatch input[type=radio]:checked + label, .size-cont input[type=radio]:checked + label{
	 border:1px solid #000 !important;
}

.fg-swatch ul li{list-style:none; display:inline; padding-right: 20px;}
.fg-swatch ul li:last-child{padding-right: 0;}

.fg-wcwl-add {cursor:pointer;}

.fg-quick-cont .color-cont {margin-bottom:30px;}
.fg-quick-cont .color-cont:last-child {margin-bottom:0;}

.color-cont h4, .size-cont h4{padding:0 0 20px 0;}
.color-cont button, .size-cont button{margin-right:20px; margin-bottom:10px;}
.color-cont button:last-child, .size-cont button:last-child{margin-right:0;}
.ast-breadcrumbs-wrapper {
    margin-bottom: 20px;
    display: block;
}

.size-cont label.in-wishlist {border: 1px solid #000 !important;}

.single-product .yith-wcbr-brands-logo {margin-top:0px;}

.single-product .product_meta {display:none !important;}

.find-in-store-link i {margin-right:20px;}

.woocommerce #reviews #review_form {
    border: 0;
    padding: 0 !important;
}

.woocommerce .comment-reply-title {
    font-size: 16px;
    line-height: 1.3;
    font-weight: bold;
    /* margin-top: 20px; */
    padding-bottom: 20px;
    display: block;
}

.comment-form-rating label {float:left; margin-right:10px;}
.comment-form-rating label .required {display:none !important;}

.woocommerce p.stars a::before {
    top: 6px;
}

.woocommerce-noreviews {margin-bottom:0; margin-top:20px;}

.woocommerce #review_form .comment-notes {display:none;}

.woocommerce #reviews #comments h2 {display:none;}

.woocommerce #reviews #comments {
    width: 100%;
}

.woocommerce #reviews #review_form_wrapper {
    width: 100%;
    padding-left: 0;
    float: right;
} 

.reviews-toggle {
  background-color: #eee !important;
  color: #444 !important;
  cursor: pointer;
  padding: 18px !important;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-size: 16px !important;
}

.reviews-toggle:hover {
  background-color: #ccc !important;
}

.reviews-toggle.active {
  background-color: #eee !important;
}

.reviews-toggle:after {
  content: '\002B';
  color: #444;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.reviews-toggle.active:after {
  content: "\2212";
}

.woocommerce-product-details__short-description p{
	margin-bottom:10px;
}

.wc-tabs-wrapper {
	background-color:#eee;
	padding:40px 20px;
}

.woocommerce-tabs .panel {
    background-color: #eee;
}

.prod-sku {
    text-transform: uppercase;
    font-weight: bold;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    text-transform: uppercase;
}

.cross-sells .slick-prev {
    left: 20px;
    z-index: 9999;
}

.cross-sells .slick-next {
    right: 20px;
    z-index: 9999;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 31.5%;
    float: left;
}

.woocommerce-cart-form {
    width: calc(70% - 50px);
    float: left;
    margin-right: 10px;
    padding: 0 20px;
}

.cart-collaterals{padding:0 20px;}

.wc-proceed-to-checkout {text-align:center;}

button.fg-cart {
    min-width: 100%;
    margin-bottom: 20px;
}

.fg-pop-reg-btn, .fg-pop-login-btn {cursor:pointer;}

.elementor-location-popup .woocommerce-form-register, .elementor-location-popup .woocommerce-form-register p {
	text-align:center;
	color:#000 !important;
} 

.elementor-location-popup .woocommerce-form-register p.mailchimp-newsletter {
	text-align:left;
} 

.elementor-location-popup .woocommerce-form-register p a {
	color:#000 !important;
	font-size: 12px;
}

.elementor-location-popup .woocommerce-form-register .woocommerce-privacy-policy-text {display:none;}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    display: initial;
    line-height: 15px;
    /* font-size: 12px !important; */
}

.elementor-location-popup .woocommerce-form-register .fg-reg-intro, .elementor-location-popup .woocommerce-form-register h1 {
	display:none;
}

.elementor-location-popup .woocommerce-form-register input[type=email], .elementor-location-popup .woocommerce-form-register input[type=number], .elementor-location-popup .woocommerce-form-register input[type=password], .elementor-location-popup .woocommerce-form-register input[type=reset], .elementor-location-popup .woocommerce-form-register input[type=search], .elementor-location-popup .woocommerce-form-register input[type=tel], .elementor-location-popup .woocommerce-form-register input[type=text], .elementor-location-popup .woocommerce-form-register input[type=url], .elementor-location-popup .woocommerce-form-register select, .elementor-location-popup .woocommerce-form-register textarea {
	background: none !important;
    background-color: transparent !important;
	border-color: #ddd !important;
	color:#000;
}

.woocommerce-page h1, .woocommerce-page h2, .woocommerce-page h3{
	font-family:Astra Mont Heavy,sans-serif !important;
	color:#000 !important;
}

.woocommerce-page h4{
	color:#000 !important;
}

.woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle, .woocommerce-checkout .woocommerce-account-fields {display:none !important;}


#ship-to-different-address {
    font-size: 14px !important;
}

.ts-product-image {
    width: 52px;
    height: 45px;
    padding-right: 7px;
    vertical-align: middle;
    float: left;
}

.woocommerce-checkout header{display:none;}

#phases {
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left:20px;
}

#phases ul {
  list-style: none;
	display: inline-table;
	margin:0;
}
		
#phases ul li {
	display: inline;
}
	
#phases ul li span {
    display: block;
    float: left;
    background: #555;
    text-align: center;
    padding: 0 40px 0 60px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Astra Mont Heavy,sans-serif !important;
    font-weight: 900;
    letter-spacing: 1px;
}

/* colour of current phase */
#phases ul li.current-phase span {
	background: #FAA61A;
}

#phases ul li.current-phase span:after {
	border-left: 20px solid #FAA61A !important;
}

/* set sizing of front pointers */
#phases ul li span:after {
  content: "";  
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #555;
  position: absolute; right: -20px; top: 0;
  z-index: 1;
}

/* set sizing of rear pointers */
#phases ul li span:before {
	content: "";  
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
	position: absolute; left: 0; top: 0;
}

/* hide pointer on end of last item */
#phases ul li:first-child span:before {
  display: none; 
}

/* set size and corner radius on last item */
#phases ul li:last-child span {
  padding-right: 40px;
}

.fg-footer-menu ul{margin:0;}
.fg-footer-menu ul li{list-style:none; line-height: 22px;}
.fg-footer-menu ul li a{color:#E4E3E39E; font-size:12px;}
.fg-footer-menu ul li a:hover {font-size:12px; color:#ffb100;}
.fg-footer-menu h5 {
	font-family:Astra Mont Heavy,sans-serif !important;
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	margin-bottom:10px;
}

.fg-checkout-title {margin-bottom:20px; font-size:30px; padding:0 20px;}

.shipping-calculator-button {color:#FAA61A !important;}

.ast-quick-view-text {
    opacity: 1 !important;
    bottom: 69px;
    left: auto;
    right: 10px;
    width: 30px;
    /* top: 0; */
    height: 30px;
    background: transparent;
    color: #000;
    font-size: 21px;
}
.fg-wcwl-add {
    opacity: 1 !important;
    bottom: 80px;
    left: auto;
    right: 45px;
    width: 30px;
    /* top: 0; */
    height: 30px;
    background: transparent;
    color: #000;
    position: absolute;
    font-size: 20px;
}
.ast-quick-view-text:hover, .fg-wcwl-add:hover {
	background:transparent;
	color:#dd8500;
}

.my-wish-loading::after {
    font-family: WooCommerce;
    content: '\e01c';
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    position: absolute;
    top: auto;
    /* right: 1em; */
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

.my-wish-loading {
	display:none;
    padding-right: 2.618em;
	opacity: .25;
	color:#000 !important;
}

.genger-menu {margin:0 auto; text-align:center;}
.genger-menu ul{margin:0;}
.genger-menu ul li{list-style:none; display:inline; margin-right:20px; font-family:'Astra Mont Heavy' !important; font-size:18px; text-transform:uppercase;}
.genger-menu ul li a{font-family:'Astra Mont Heavy' !important; font-size:18px; text-transform:uppercase; color:#000 !important;}
.genger-menu ul li a:hover{color:#dd8500 !important; font-size:18px;}
.genger-menu ul li:last-child{margin-right:0px;}

.woocommerce div.product form.cart .button.loading {
    padding-right: 2.618em !important;
}

.fg-brands-button {margin:20px;}

.woocommerce-products-header {padding-top:30px;}

.login-head {
	font-family:Astra Mont Heavy,sans-serif !important;
	font-size:30px;
	color:#FFF !important;
}

.menu-latest-releases {
    text-align: center;
}

.menu-latest-releases img{
    width:90%;
}

.menu-latest-releases a {
    margin-top: 20px;
	font-size:20px;
	text-transform:uppercase;
}

.menu-latest-releases .elementor-button {
    min-width: 200px;
}

.menu-sales {
    text-align: center;
}

.menu-sales img{
    width:90%;
}

.menu-sales a {
    margin-top: 20px;
	font-size:20px;
	text-transform:uppercase;
}

.menu-sales .elementor-button {
    min-width: 200px;
}

.combo {
    text-align: center;
}

.combo img{
    width:90%;
}

.combo a {
    margin-top: 20px;
	font-size:20px;
	text-transform:uppercase;
}

.combo .elementor-button {
    min-width: 200px;
}

.menu-daily-deals {
    text-align: center;
}

.menu-daily-deals img{
    width:90%;
}

.menu-daily-deals a {
    margin-top: 20px;
	font-size:20px;
	text-transform:uppercase;
}

.menu-daily-deals .elementor-button {
    min-width: 200px;
}


.ast-qv-image-slider .flex-control-paging, .ast-shop-product-out-of-stock {display:none !important;}

.remove_from_wishlist.button {margin-left:20px;}

.woocommerce-form-register h1{
	font-family:Astra Mont Heavy,sans-serif !important;
	color:#fff !important;
	font-size:30px;
	line-height:35px;
}

.policies h2 {
    font-family: Astra Mont Heavy,sans-serif !important;
    color: #000 !important;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase !important;
}

.policies h3 {
    font-family: Astra Mont Heavy,sans-serif !important;
    color: #000 !important;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase !important;
	margin-bottom:10px;
}

.full .img.vid, .full .img.vid video {width:100% !important;}

.yith-wcbr-product-carousel {}
.woocommerce.yith-wcbr-product-carousel ul.products.columns-3 li.product {
	width: 32.26% !important;
}

.fg-promo .elementor-cta__button-wrapper{
    position: relative;
    bottom: 70px;
    left: 40px;
}

.footgear_checkout_message_sa {margin-bottom:30px;}
.calculated_shipping {margin-top:70px;}
.woocommerce-checkout .footgear_checkout_message_sa{margin-bottom:0;}

#fg-cart-login, #fg-cart-account {cursor:pointer;}

.wishlist-title-container {display:none;}

.footgear_checkout_message {padding:0 20px;}
.footgear_checkout_message_sa {padding:0 20px;}

.woocommerce-cart .footgear_checkout_message, .woocommerce-cart .footgear_checkout_message_sa {padding:0;}

.woocommerce-thankyou-order-received, .woocommerce-thankyou-order-details, .woocommerce-order-details, .woocommerce-customer-details {padding:0 20px;}

.fg-promo .elementor-cta__content{background-color:transparent !important; background:none !important;}

.uael-out-of-stock {display:none;}

.woocommerce-page .cart-collaterals .cart_totals {margin-top:60px;}
#order_review_heading {margin-top:60px !important;}

.ast-quick-view-text:hover .fa-eye:before {
    content: "\f07a" !important;
    font-family: 'FontAwesome';
    font-size: 25px;
	color: #000;
} 

.ast-quick-view-text .fa-eye {font-size:22px; color:#000;}

.woocommerce #ast-quick-view-modal div.product form.cart .button.single_add_to_cart_button {
    padding: 0px 10px !important;
    font-size: 17px !important;
}

.woocommerce #ast-quick-view-modal div.product form.cart .single_add_to_cart_button.button.added {
	font-weight: 700;
	line-height: 40px !important;
	padding: 0 !important;
	width:174px;
	min-width:174px;
	max-width:174px;
}

#ast-quick-view-content .added_to_cart {
	font-size: 17px !important;
	margin-left: 0;
	font-weight: 700;
	text-align: center;
	margin-top: 4px;
	line-height: 40px !important;
	padding: 0px 15px !important;
	width: 174px;
}

.woocommerce #ast-quick-view-modal div.product form.cart .button.single_add_to_cart_button.loading {
    padding-right: 50px !important;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button {
    padding: 3px 10px 2px 10px !important;
    font-size: 15px !important;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button.loading {
    padding: 3px 40px 2px 10px !important;
}

.woocommerce div.product form.cart a.added_to_cart {
    margin: 0 0 0 10px;
    padding: 3px 10px 2px 10px !important;
    font-size: 15px !important;
}

.ts-product-image img {max-height:98%;}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {color:#fff;}

.mailchimp-newsletter .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {color:#000;}

.page-id-2253 .mailchimp-newsletter .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {color:#fff;}

#menu-item-28042, #menu-item-28043 {display:none;}
.logged-in #menu-item-28042, .logged-in #menu-item-28043 {display:list-item;}

.fg-archive-head {
	display: inline-block;
    width: 100%;
}

.ubermenu-responsive-toggle-main i{font-size:20px;}

.fg-filter-button {
    position: absolute;
    top: 5%;
    right: -40px;
    z-index: 19;
}

.product .yith-wcan-filters-opener {display:none;}

.page-title {margin-bottom:0px;}

.fg-archive-right {
    width: 100% !important;
}
.fg-archive-right.shrink {
    width: 80% !important;
}

.fg-archive-left {
    width: 20% !important;
	margin-left:-20%;

    z-index: 9999;
    background-color: white;
    padding: 20px;
}
.fg-archive-left.shrink {
	margin-left: 0;
    overflow-x: scroll;
    max-height: 60vh;
}

button.fg-archive-filter-btn {
    padding: 5px 20px 3px 20px;
	float: right;
	margin-left: 5px;
	z-index:9;
}

/**/
.fa-eye:before {
    color: black !important;
    content: "\f07a" !important;
    font-family: 'FontAwesome';
    font-size: 25px;
}

.ast-quick-view-text:hover .fa-eye:before {
    color: #dd8500 !important;
}
/**/

/* store locator css start */

div#wpsl-radius label {
    width: 100px !important;
}

.wpsl-search.wpsl-clearfix {
    margin: 0px;
    padding-bottom: 10px;
}

input#wpsl-search-input {
    background: white;
    height: 36.88px;
}
input#wpsl-search-btn {
    padding-top: 9px;
}
input#wpsl-search-btn {
    line-height: 1.1;
    vertical-align: middle;
    background: black;
    color: white;
    border: 0px !important;
    border-radius: 0px;
}
/* store locator css end */

#filters-display-mobile {cursor:pointer;}
.mobile-archive-filters {display:none;}
.uael-mc-offcanvas__header-badge {display:none;}

.uael-mc ul.cart_list li:last-child {
    margin-bottom: 10px;
}

.uael-button-wrapper {
    min-width: 20%;
}

.uael-dual-button {
	min-width:20% !important;
}

.uael-mc-modal__header-badge {display:none;}

.woocommerce p.stars a::before {line-height:5px;}

.single-product .woocommerce-product-gallery {width: calc(70% - 20px) !important;}
.single-product .entry-summary {width: 30% !important;}

.fg-captcha .grecaptcha-badge {display:none !important;}

#fg-sl-preloader {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    opacity: 0.5;
	display:none;
}

#fg-sl-preloader:before {
    font-family: WooCommerce;
    content: '\e01c';
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    position: absolute;
    top: auto;
    right: 1em;
    animation: spin 2s linear infinite;
    font-size: 50px;
    color: #000;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
}

@media (max-width:1025px) {	
#footgear_header_desktop span.ubermenu-target-title.ubermenu-target-text {
    font-size: 12px;
}
	
}
@media (min-width: 1025px){
.elementor-1364 .elementor-element.elementor-element-da55e1b {
    width: 84.665%;
}
	
	section#storelocatormobile {
    display: none;
}
}
#storelocatormobile .elementor-accordion-item:first-of-type {
    display: none;
}

#storelocatormobile .elementor-accordion .elementor-accordion-item+.elementor-accordion-item {
    border: 1px solid #000;
}

#storelocatormobile .elementor-accordion .elementor-tab-content {
    border-top: 1px solid #000;
}

#storelocatormobile .elementor-sticky--effects {
    margin: -10px;
    width: 100% !important;
    background: white;
    transition: 0.3s ease;
}

#storelocatormobile .elementor-sticky {
    transition: 0.3s ease;
}

section#storelocatormobile .elementor-tab-content p {
    margin: 0px !important;
}

.wpsl-search.wpsl-clearfix.wpsl-filter {
    margin: 0px;
}

.wpsl-search.wpsl-clearfix.wpsl-filter {
    padding: 10px;
}

div#wpsl-wrap {
    margin-bottom: 0px;
}

button.accordion:focus, button.accordion:active, button.accordion:target,button.accordion:hover {
    background: transparent;
    color: #f99900;
    border: 0px !important;
}

.store {
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.fg-Store-cats .accordion_body p {
    padding: 0px;
    margin: 0px;
}

.fg-Store-cats .plusminus {
    float: right;
}
#wpsl-category, .wpsl-input, .wpsl-select-wrap {
    margin-bottom: 0px !important;
}

#wpsl-search-wrap div label {
    line-height: 2.5 !important;
}

.login-head, .woocommerce-form-register h1 {
    margin-bottom: 15px;
}

.woocommerce-form-login input[type=email], .woocommerce-form-login input[type=number], .woocommerce-form-login input[type=password], .woocommerce-form-login input[type=reset], .woocommerce-form-login input[type=search], .woocommerce-form-login input[type=tel], .woocommerce-form-login input[type=text], .woocommerce-form-login input[type=url], .woocommerce-form-login select, .woocommerce-form-login textarea, .woocommerce-form-register input[type=email], .woocommerce-form-register input[type=number], .woocommerce-form-register input[type=password], .woocommerce-form-register input[type=reset], .woocommerce-form-register input[type=search], .woocommerce-form-register input[type=tel], .woocommerce-form-register input[type=text], .woocommerce-form-register input[type=url], .woocommerce-form-register select, .woocommerce-form-register textarea {
    color: rgb(0,0,0,0.5) !important;
    padding: .75em;
    border-style: none !important;
    border-radius: 0px !important;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    width: 70%;
}

.woocommerce-form-login span, .woocommerce-form-login a, .woocommerce-form-register p, .woocommerce-form-register a {
    color: #fff;
}

.gform_legacy_markup_wrapper .gform_body {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}

.gform_validation_errors {display:none !important;}

.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
    max-width: inherit !important;
	margin-right:0 !important;
}

.gform_legacy_markup_wrapper li.gfield.gfield_error, .gform_legacy_markup_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color:transparent !important;
    margin-bottom: 0px!important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    box-sizing: border-box;
}

.gform_legacy_markup_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {display:none !important;}

.fg-mobile-search {
	max-height: 20px;
    cursor: pointer;
}

.fg-search-cont-mobile {
    display:none;
	z-index: 1;
}

/*** Responsive Styles Large Desktop And Above ***/
@media all and (min-width: 1405px) {
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 1024px) {
	.#ast-quick-view-modal {z-index:9999 !important;}
    .fg-archive-filter-btn {
        display:none;
    }

}

@media all and (max-width: 980px) {
	.wishlist_table.mobile .product-add-to-cart {
		margin-top: 20px;
		float: left;
		width: 60%;
	}
	
	.wishlist_table.mobile .woocommerce a.button {margin: 0 !important;}
	
	.comment-form-rating label {float:none;}
	
	.wishlist_table.mobile .product-remove {
		text-align: center;
    	margin-top: 20px;
    	float: left;
    	width: 40%;
	}
	
	.wishlist_table.mobile .remove_from_wishlist {
		color: #fff !important;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		width: 100%;
	}
	
	.wishlist_table.mobile .fa {font-family: "Font Awesome 5 Free" !important;}
	
	.woocommerce-page #content div.product div.summary {display:inline-block;}
	
	.fg-widget-product-slider .fg-prev {left: 20px;}
	.fg-widget-product-slider .fg-next {right: 20px;}
	
	.elementor-button-text {
		line-height: 35px !important;
	}

	.fg-login-cont {
		height: inherit !important;
	}
	
	.login-head {
		line-height: 35px;
	}
	
	.fg-promo .elementor-cta__button-wrapper {
		position: relative;
		bottom: 70px;
		left: 20px;
		text-align: left;
	}
	
	.shop_side_button {display:block;}
	
    .fg-login-form {
        text-align:center;
    }
	
	.ribbon-txt, .ribbon-txt p {
		font-size: 12px !important;
		/* padding: 0 5% !important; */
		max-width: 80%;
		margin: 0 auto !important;
	}
	.ribbon-link a, #ribbon-clock{font-size: 10px !important;}
	.ribbon-link {margin:0 !important; width:100% !important;}
	
	.uael-mc-dropdown {
		right: 0;
		left: -40vw;
	}
	
	.woocommerce-products-header__title, .page-title {font-size:40px !important;}
	
	.woocommerce-products-header {padding-top: 30px;}
	
	#phases {
		margin-top:0px;
		margin-left:0;
	}
	
	#phases ul li{
		width:100%;
	}
	
	#phases ul li span {width:100%; padding: 0 0 0 20px; margin:0; text-align:left;}
	#phases ul li span:before {display:none;}
	
	.woocommerce-cart-form {
		width: 100%;
		margin-right: 0;
	}
	
	.footgear_checkout_message, .footgear_checkout_message_sa {padding:0 20px;}
	
	.footgear_checkout_message h4, .footgear_checkout_message_sa h4 {font-size:10px !important;}
	
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		display: block;
	}
	
	.coupon input[name="coupon_code"], .coupon button[name="apply_coupon"] {width:100%;}
	
	button[name="update_cart"] {
		margin-left: 0 !important;
    	margin-top: 20px;
	}
	
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
	
	.woocommerce-checkout form.checkout {
		padding: 0 20px;
	}
	
	.woocommerce-page.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review {
		padding: 0 10px;
	}
	
	#fg-static-nav h5 {
		cursor:pointer;
		text-align:center;
	}
	
	#fg-static-nav h5:hover{
		color:#FFB100 !important;
	}
	
	.menu-static-page-nav-container {
		display:none;
		margin-bottom: 30px;
    	border: 1px solid;
	}
	
	#fg-static-nav h5:after {
		content: '\f0c9';
		font-family: 'FontAwesome';
		color: #000;
		font-size: 15px;
		padding-left: 10px;
	}
	
	#fg-static-nav ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		text-transform: uppercase;
	}
	
	#fg-static-nav ul li a {
		padding: 10px 0;
		width:90%;
	}
	
	.woocommerce-page .cart-collaterals .cart_totals {margin-top:20px;}
	#order_review_heading {margin-top:20px !important;}
	
	.single-product .woocommerce-product-gallery {width: inherit !important;}
	.single-product .entry-summary {width: inherit !important;}
	
}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
	#input_1_1{padding:9px !important;}
	#ast-quick-view-content .added_to_cart{
		margin-bottom: 10px;
		margin-left: 10px;
		margin-top: 0px;
		float: left;
		line-height: 40px !important;
		padding: 0px 15px !important;
		width: 174px;
	}
	
	.deals-img.tablet {display:block;}
	.deals-img.desktop {display:none;}
	.deals-img.mobile {display:none;}
	
	.flex-brand-item {
	  flex: calc(50% - 20px);
	}
	
	.flex-brand-item:nth-child(2n) {
	  margin-right:0px;
	}
	
	.menu-list-cont.fullwidth ul li {
		flex: 0 0 50%;
		text-align: center;
	}
	
	#popmake-1226 {
		width: 50% !important;
	}
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
	.woocommerce #ast-quick-view-modal div.product form.cart .single_add_to_cart_button.button.added, #ast-quick-view-content .added_to_cart{
		max-width:100% !important;
		width:100% !important;
		margin:5px 0 0 0 !important;
	}
	#field_1_5 button {width:100% !important;}
	#ast-quick-view-content .summary-content {text-align:center;}
	.woocommerce div.product form.cart a.added_to_cart, #ast-quick-view-content .added_to_cart{
		margin-bottom: 10px;
		margin-left: 0px;
		float: left;
		line-height: 40px !important;
		padding: 0px 15px !important;
		width: 174px;
	}
	
	.size-cont label {margin-right: 6px;}
	.squad-menu ul {
		margin-top: 30px;
	}
	
	.squad-menu li {
		text-align: center !important;
		margin-right: 15px !important;
	}
	
	.squad-menu li:last-child {
		text-align: center !important;
		margin-right: 0px !important;
	}
	
	.squad-menu li a {
		display: block;
		padding: 0 !important;
    	text-align: center;
		font-size: 16px !important;
	}

	.elementor-element.elementor-products-grid ul.products {
		display: flex;
	}
	.woocommerce-page h1, .woocommerce-page h2, .woocommerce-page h3 {
		text-align: center;
	}
	
	body p{line-height: 1.6em !important;}
	.elementor-button-text {
		padding: 10px 0 !important;
		line-height: 22px !important;
	}
	
	#gform_1 .gform_fields li:nth-child(5), #gform_1 .gform_fields li:nth-child(3), #gform_3 .gform_fields li:nth-child(5), #gform_3 .gform_fields li:nth-child(3) {
		width: 100%;
		max-width: 100% !important;
		text-align: center;
		margin-top: 10px !important;
		margin-bottom:10px;
	}
	
	#gform_1 .gform_fields li:nth-child(4), #gform_1 .gform_fields li:nth-child(2), #gform_3 .gform_fields li:nth-child(4), #gform_3 .gform_fields li:nth-child(2) {
		width: 100%;
		max-width: 100% !important;
		padding-right: 0px;
		margin-right: 0 !important;
		text-align: center;
		color:#fff;
		margin-bottom:10px;
	}

	.deals-img.tablet {display:none;}
	.deals-img.desktop {display:none;}
	.deals-img.mobile {display:block;}
	
    .fg-login-join {
        max-width:90% !important;
    }

    .fg-login-join .elementor-icon-box-icon {
        float: left;
        margin-right: 20px !important;
    }

    .fg-login-join .elementor-icon-box-content {
        float: left;
        max-width: 80%;
    }
	
	.flex-brand-item {
	  flex: calc(100%);
	  margin-right:0;
	}
	
	.menu-list-cont.fullwidth ul li {
		flex: 0 0 100%;
		text-align: center;
	}
	
	.fg-footer-menu {text-align:center;}
	
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(n), .woocommerce[class*=columns-] ul.products li.product:nth-child(n) {
		margin-right: 0;
	}
	
	.ast-woocommerce-container {text-align:center;}
	
	.woocommerce .astra-shop-filter-button, .woocommerce button.astra-shop-filter-button, .woocommerce-page .astra-shop-filter-button, .woocommerce-page button.astra-shop-filter-button {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
		float: none;
	}
	
	.products-per-page {
		float: none !important;
		margin-left: 0 !important;
		margin-bottom: 10px;
	}
	
	.woocommerce-ordering select, .products-per-page select{width:100%;}
	
	.wishlist_table.mobile li .item-wrapper {
		width: 100%;
	}
	
	.wishlist_table.mobile li .item-wrapper .product-thumbnail {
		display: inline-block;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	
	.wishlist_table.mobile li .item-details h3{
		text-align:center;
	}
	
	.wishlist_table.mobile li .item-wrapper .item-details {
		width: 100%;
	}
	
	#popmake-1226 {
		width: 80% !important;
		left: 10% !important;
	}
}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

    .cart .fg-stock-cont {
        max-width: 100%;
        text-align: center;
    }

    .woocommerce div.product form.cart div.quantity {
        float: none !important;
    }

    .woocommerce div.product form.cart .button {
        vertical-align: middle;
        float: none !important;
    }

    .woocommerce div.product form.cart a.added_to_cart, #ast-quick-view-content .added_to_cart {
        width: 100% !important;
    }

}


.woocommerce-order-pay ul.order_details {
    align-content: normal;
    display: table;
    margin: 0px auto !important;
    float: none !important;
    align-items: revert;
}

.woocommerce-order-pay li.method {
    margin: 0px !important;
    padding: 0px !important;
}

.woocommerce-order-pay ul.order_details {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.woocommerce-order-pay select.wpwl-control.wpwl-control-brand {
    padding: 0px 10px;
}

